<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">
<head>
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/js/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/js/cdb.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/css/cdb.min.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Retrouvez votre pharmacie de quartier en ligne</title>
</head>
<body>

<nav id="right_nav" class="navbar navbar-expend-md">

    <img id="logo_img" th:src="@{img/LOGO_COMPLET.png}"/>

    <ul>
        <li>
            <button type="button" class="btn btn-rounded btn-outline-success button_smaller"> A propos</button>
        </li>
        <li>
            <button type="button" class="btn btn-rounded btn-outline-success button_smaller">Créer un compte</button>
        </li>
        <li>
            <button type="button" class="btn btn-rounded btn-outline-success button_smaller">Log In</button>
        </li>
    </ul>


</nav>


<article layout:fragment="content">
    Contenu
</article>


</body>


</html>